{% extends 'layout.html' %}

{% block body %}
  <h1>About </h1>
  <h3>
    A simple stock market watching application.
  </h3>

  <h4>Current working features:</h4>
  <ul>
      <li>Realtime quote updates and historical data</li>
      <ul>
        <li>Realtime quote data - Google Finance</li>
        <li>Histoical data - Alpha Vantage API and Quandl</li>
      </ul>
      <li>Functional stock watchlist</li>
      <li>RSS News Feed - data pulled from Yahoo Finance</li>
      <li>User accounts - MySQL intergration</li>
  </ul>

  <h4>Features to come:</h4>
  <ul>
      <li>ML Trend Prediction?</li>
  </ul>
{% endblock %}
