{% extends 'layout.html' %}

{% block body %}
  <h1>About </h1>
  <h3>
    A simple stock market watching application.
  </h3>

  <h4>Current working features:</h4>
  <ul>
      <li>Realtime quote updates</li>
      <li>Functional stock watchlist</li>
      <li>User accounts - MySQL intergration</li>
  </ul>

  <h4>Broken features:</h4>
  <ul>
      <li>Historical data view</li>
      <li>Link watchlist to user</li>
  </ul>


  <h4>Features to come:</h4>
  <ul>
      <li>Twitter/Social media link</li>
      <li>Actual account features and saving</li>
  </ul>
{% endblock %}
