{% extends 'layout.html' %}

{% block body %}
  <h1>Your News Feed</h1>
    <form action="{{ url_for('update_news' )}}", method="POST">
        <button type="submit" class="btn btn-primary pull-right">Fetch News</button>
    </form>
   <table class="table table-striped">
       <tr>
           <td><h3>Title</h3></td>
           <td><h3>Summary</h3></td>
       </tr>
       {% for article in articles %}
       <tr>
           <td><a href="{{ article.link }}">{{ article.title }}</a></td>
           <td>{{ article.summary }}</td>
       </tr>
       {% endfor %}
   </table>
{% endblock %}
