{% extends 'layout.html' %}

{% block body %}
    <head>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
    </head>
    <h1>Database stuff</h1>
    <form action="" method="POST" name="ticker">
    {{ form.hidden_tag() }}

        <div class="form-group">
            <label>Ticker:</label>
            <input type="text" name="ticker" class="form-control" value={{request.form.ticker}}>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    {% if num_watch == 0 %}
    <h3>Add a stock to watch</h3>
    {% else %}
        {% for stock in stocks %}
            <h3>{{ stock['ticker'] }}</h3>
        {% endfor %}
    {% endif %}

{% endblock %}