{% extends 'layout.html' %}

{% block body %}
  <head>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    {% if num_watch > 0 %}
    <script>
        // function to update watchlist
        function update(){
            $.get('/update_watchlist' ,function (response, status) {
                if (status == 'success') {
                    var data = [];
                    var stocks = JSON.parse(response);

                    for (i in stocks) {
                        var stock = stocks[i].StockSymbol+"\">"+stocks[i].StockSymbol + "</a> $" + stocks[i].LastTradePrice + " " + stocks[i].Change + " " + stocks[i].ChangePercent + "%<br>";
                        data.push('<tr><td><a href="/stock/'+stock+'</td>'
                            +'<td><form action="{{ url_for('remove_stock', ticker=stocks[0]['StockSymbol']) }}" method="POST"><button type="submit" class="btn btn-danger pull-right">Remove</button></form></td></tr>');
                        $("#inital").remove()
                    }

                    $("#list").empty().html(data.join(""));
                }
            });
        }

        // update watchlist every 20 seconds
        $(document).ready(function() {
            setInterval("update()",15000);
        });

    </script>
    {% endif %}
  </head>

    <h1>Watched Stocks</h1>
    <h3>Add A Stock</h3>
    <form action="{{ url_for('add_stock') }}" method="POST" name="ticker">
    {{ form.hidden_tag() }}

        <div class="form-group">
            <label>Ticker:</label>
            <input type="text" name="ticker" class="form-control" value={{request.form.ticker}}>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    {% if num_watch == 0 %}
    <h3>You are not watching any stocks, add one to watch</h3>
    {% else %}
    <h3>List</h3>
      <table id="list" class="table table-striped">
        {% for stock in stocks %}
          <tr id="inital">
            <td><a href="/stock/{{ stock[0]['StockSymbol'] }}">{{ stock[0]['StockSymbol'] }}</a> ${{ stock[0]['LastTradePrice'] }} {{ stock[0]['Change'] }} {{ stock[0]['ChangePercent'] }}%</td>
            <td>
              <form action="{{ url_for('remove_stock', ticker=stock[0]['StockSymbol']) }}" method="POST">
                <button type="submit" class="btn btn-danger pull-right">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

{% endblock %}


